body{
    background-color:rgb(246, 167, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: roboto;
    color: rgb(88, 88, 88);
}
h1{
    color:deeppink;
    text-align: center;
}
.container{
    background-color: bisque;
    padding: 30px;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 5px solid deeppink;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.636);
}
.display-container{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(169, 167, 167);
    font-size: 22px;
    padding: 5px;
    border-radius: 8px;
    color: black;
    height: 40px;
    letter-spacing: 1px;
    margin-bottom:20px;
}
.display-container #copy{
    position: absolute;
    top: 7px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
}
.display-container #copy:active{
    background-color: grey;
    font-size: 15px;
}
.display-container #result{
    margin-left: 10px;
}
.settings{
    margin: 20px;
    align-items: center;
}
.settings .setting{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 10px;
}
.settings .setting input{
    width: 20px;
}
.settings .setting #size{
    width: 120px;
}
#trigger{
    position: relative;
    left: 50px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px;
    background-color:deeppink;
    border-radius: 5px;
    color: aliceblue;
    font-weight: bold;
    border: 4px solid rgb(251, 154, 170);
    transition: all 200ms ease;
}
#trigger:hover{
    background-color:rgb(252, 220, 225);
    color: deeppink;
    border-color: deeppink;
}
#trigger:active{
    border-color:bisque;
}